{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>

  <form class="" action="/stop" method="post">
    <input type="submit" name="" value="Stop!">
  </form>
{% endblock %}
