<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/css/app.css' />
  </head>
  <body>
    {% block body %}{% endblock %}
    <script type="text/javascript" src="/js/app.js"></script>
  </body>
</html>
